<script src="{{PATH_PREFIX}}assets/scripts.js" defer></script>

<!-- Default Statcounter code for Kupa Teklif https://kupa.crossovertalks.com -->
<script type="text/javascript">
var sc_project=13227054;
var sc_invisible=1;
var sc_security="51e96f15";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/13227054/0/51e96f15/1/" alt="Web Analytics" referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>
          
