<!-- INTEGRATION TYPES -->
  <div class="integration-section">
    <div class="timeline-header">
      <div class="line"></div>
      <h3>🎬 ENTEGRASYON ÇEŞİTLERİ</h3>
      <div class="line"></div>
    </div>

    <div class="integ-compact">
      <!-- ALT BANT -->
      <div class="integ-row">
        <div class="integ-row-label">ALT BANT</div>
        <div class="integ-row-items">
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-0f80c898.png" alt=""></div><a class="integ-name" href="https://youtu.be/d-IKf3lxXAI?si=72_RYvQWYXfBkpDt&t=417" target="_blank">Toyzz Shop</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-280dfa36.png" alt=""></div><a class="integ-name" href="https://www.youtube.com/watch?v=OonL4-zkbAw&t=492s" target="_blank">Getiraraç</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-61869a77.jpeg" alt=""></div><a class="integ-name" href="https://www.youtube.com/watch?v=u-BuHb47h3c" target="_blank">S Sport Plus</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-ffeb222c.png" alt=""></div><a class="integ-name" href="https://youtu.be/EOdku2cexUM?feature=shared&t=506" target="_blank">Cambly</a></div>
        </div>
      </div>

      <!-- ÜRÜN YERLEŞTİRME -->
      <div class="integ-row">
        <div class="integ-row-label">ÜRÜN YERLEŞTİRME</div>
        <div class="integ-row-items">
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-55e75ad9.png" alt=""></div><a class="integ-name" href="https://youtu.be/d-IKf3lxXAI?si=aDEKE5HfpV57Xa8-&t=442" target="_blank">Topps</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-62a22a80.png" alt=""></div><a class="integ-name" href="https://www.youtube.com/watch?v=Bd9mcvleMMs&t=1604s" target="_blank">OMO</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-182c490e.png" alt=""></div><a class="integ-name" href="https://youtu.be/SDCZoamCRUs?feature=shared&t=15" target="_blank">Doritos</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-e6ef408a.png" alt=""></div><a class="integ-name" href="https://youtu.be/SDCZoamCRUs?feature=shared&t=88" target="_blank">Doritos</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-26366bb2.png" alt=""></div><a class="integ-name" href="https://youtu.be/udMiI2Kxwt8?feature=shared&t=1845" target="_blank">HP</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-1a5eea5f.png" alt=""></div><a class="integ-name" href="https://youtu.be/j7OazTl4D4c?feature=shared" target="_blank">+1</a></div>
        </div>
      </div>

      <!-- AKSİYON ENTEGRE -->
      <div class="integ-row">
        <div class="integ-row-label">AKSİYON ENTEGRE</div>
        <div class="integ-row-items">
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-4455e4d1.png" alt=""></div><a class="integ-name" href="https://youtu.be/OonL4-zkbAw?feature=shared&t=88" target="_blank">Getiraraç</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-76023cac.png" alt=""></div><a class="integ-name" href="https://youtu.be/OonL4-zkbAw?feature=shared&t=46" target="_blank">Getiraraç</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-2235071b.png" alt=""></div><a class="integ-name" href="https://youtu.be/d-IKf3lxXAI?si=xnMgu5nDWsy0fcks&t=8" target="_blank">Toyzz Shop</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-68a45155.png" alt=""></div><a class="integ-name" href="https://youtu.be/d-IKf3lxXAI?si=09gcZ-hGjbXhLUhR&t=91" target="_blank">Topps</a></div>
        </div>
      </div>

      <!-- SEPARATÖR -->
      <div class="integ-row">
        <div class="integ-row-label">SEPARATÖR</div>
        <div class="integ-row-items">
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-d5877dcb.png" alt=""></div><a class="integ-name" href="https://www.youtube.com/watch?v=Bd9mcvleMMs&t=1604s" target="_blank">OMO</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-a6ef59ed.png" alt=""></div><a class="integ-name" href="https://youtu.be/udMiI2Kxwt8?feature=shared&t=1755" target="_blank">HP</a></div>
          <div class="integ-thumb"><div class="integ-thumb-img"><img src="{{PATH_PREFIX}}assets/img/integ-thumb-bcf2f8d2.jpeg" alt=""></div><a class="integ-name" href="https://www.youtube.com/watch?v=u-BuHb47h3c" target="_blank">S Sport Plus</a><div class="integ-badge">İNDİRİM KODU</div></div>
        </div>
      </div>

      </div>
  </div>

  
